main{
	width: 100%;
}

section{
	display: none;
}

.postData{
	text-align: right;
}
section > h2 {
	text-align: center;
}

.panel-body {
	width: 50%;/* Ajustar anchura del video*/
	margin-left: 25%;
}